body {
    background: url('../img/bg.gif');
    background-repeat: repeat;
    font-family: "Helvetica", "Arial", sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

.vert {
    display: inline-block;
    vertical-align: center;
    float: none;
}

.part {
    max-width: 100%;
}

.logo {
    padding-bottom: 20px;
}

.panel-default > .panel-heading {
    background: #404040;
    color: #ffffff;
}

.social-section .panel-body {
    font-size: 42px;
}
