$ambianceGrey: #404040;
$animationsDuration: 0.2s;

body {
    background: url('../images/background.gif') fixed;
    background-repeat: repeat;
    font-family: "Helvetica", "Arial", sans-serif;
    padding-top: 42px;
    padding-bottom: 20px;
}

.logo {
    padding-top: 0;
    padding-bottom: 22px;
    text-align: center;

    img {
        width: 31%;
        max-width: 160px;
    }
}
 
.vert {
    display: inline-block;
    vertical-align: center;
    float: none;
}

.panel-default {
    .panel-heading {
        background: $ambianceGrey;

        .panel-title {
            font-family: "Montserrat";
            color: #EFEFEF;
            text-transform: uppercase;
        }
    }
    .table {

        tr:first-child td {
            padding-top: 7px;
        }
        tr:last-child td {
            padding-bottom: 7px;
        }
    }
}

.partners-section {
    .partner-logo {
        max-width: 100%;
        transition-duration: $animationsDuration;
        transform: scale(1.0);

        &:hover {
            transform: scale(1.05);
        }
    }
}

.social-section {
    .panel-title {
        font-family: "Montserrat";
        color: $ambianceGrey;
        text-transform: uppercase;
        margin-top: 29px;
        padding-bottom: 7px;
        font-size: 17px;
    }

    .panel-body {

        .icon {
            transition-duration: $animationsDuration;
            transform: scale(1.0);
            color: #FFF;

            .fa {
                font-size: 49px;
            }
            &.twitter-icon a {
                color: #4099FF;
            }
            &.facebook-icon a {
                color: #3B5998;
            }

            &:hover {
                transform: scale(1.1);
                color: #999;
            }
        }
    }
}
