$ambianceGrey: #404040;
$animationsDuration: 0.2s;

body {
    background: url('../images/background.gif') fixed repeat;
    font-family: "Helvetica", "Arial", sans-serif;
    padding-top: 42px;
    padding-bottom: 20px;
}

.header-section {
    padding-top: 0;
    padding-bottom: 22px;
    text-align: center;

     .logo {
        width: 31%;
        max-width: 160px;
        transition-duration: $animationsDuration;
        transform: scale(1.0);

        &:hover {
            transform: rotate(-4.2deg) scale(1.12);
        }
    }
}

.panel-default {
    .panel-heading {
        background: $ambianceGrey;

        .panel-title {
            font-family: "Montserrat";
            color: #EFEFEF;
            text-transform: uppercase;
        }
    }

    .table {
        font-size: 15px;

        tr td {
            line-height: 24px;
            vertical-align: bottom;
        }
        tr:first-child td {
            padding-top: 8px;
        }
    }
}

.partners-section {
    .panel-body {
        padding: 27px 0;

        .partner-logo {
            display: inline-block;
            vertical-align: center;
            float: none;
            transition-duration: $animationsDuration;
            transform: scale(1.0);
    
            &:hover {
                transform: scale(1.05);
            }
            img {
                max-width: 100%;
            }
        }
    }
}

.social-section {
    .panel-title {
        font-family: "Montserrat";
        color: lighten($ambianceGrey, 13%);
        text-transform: uppercase;
        margin-top: 29px;
        padding-bottom: 7px;
        font-size: 17px;
    }

    .panel-body {
        .icon {
            transition-duration: $animationsDuration;
            transform: scale(1.0);

            .fa {
                font-size: 49px;
            }
            &.twitter-icon a {
                color: #4099FF;
            }
            &.facebook-icon a {
                color: #3B5998;
            }

            p {
                color: #999;
                opacity: 0.0;
                transition-duration: $animationsDuration;
            }

            &:hover {
                transform: scale(1.1);

                p {
                    opacity: 1.0;
                }
            }
        }
    }
}
